body  {
    background-color: rgb(240, 248, 255);
    border-style: inset;
    border-color: blueviolet;
}

.img_transit {
    transition: opacity 0.3s;
}
.img_transit:hover {
    opacity: 0.5;
}
/* Texte sous la photo de profile */ 
.sous-txt {
    margin-top: 200px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.formation-pose {
    margin-top: -100px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px; 
}
.ep-pose {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px; 
}

.titre {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: -210px; 
}
